<div class="comments_<%= comment.id %>">
  <ul>
      <div class="cmt">
        <div class="cmt-comment">
          <span class="content">
            <b><%= comment.user_name %>: </b>
            <i><%= comment.content %></i>
          </span>
          <div class="timestamp">
            <i><%= t "view.review.cmt" %> <%= time_ago_in_words(comment.created_at) %> <%= t "view.review.ago" %></i>
            <% if can? :destroy, comment %>
              <div class="links btn-group">
                <%= link_to t("view.review.delete"), book_review_comment_path(@book, comment.review, comment), method: :delete, remote: true, class: "btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </ul>

</div>
