<ul>
  <div class="cmt">
    <div class="cmt-comment">
      <span class="content">
        <b><%= comment.user_name %>: </b>
        <i><%= comment.content %></i>
      </span>
      <div class="timestamp">
        <i><%= t "view.review.cmt" %> <%= time_ago_in_words(comment.created_at) %> <%= t "view.review.ago" %></i>
        <% if current_user?(comment.user) %>
          <%= link_to t("view.review.delete"), book_review_comment_path(book, comment.review, comment), method: :delete, data: {confirm: t("view.review.sure") } %>
        <% end %>
      </div>
    </div>
  </div>
</ul>
