<% provide :title, t("view.users.user.all_users") %>
<h1><%= t "view.users.user.all_users" %></h1>
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<div class="container">
  <p>
    <%= t("view.users.index.download") %><%= link_to t("view.users.index.users_xls"), users_path(format: Settings.export.xls) %>
    <%= link_to t("view.users.index.users_csv"), users_path(format: Settings.export.cvs) %>
  </p>
</div>
<%= will_paginate %>
