<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
  <div class="tg-postbook">
    <figure class="tg-featureimg">
      <div class="tg-bookimg">
        <a href="/books/<%= book.id %>" title="">
        <div class="tg-frontcover">
            <%= image_tag book.book_img.url(:original), class: "books" %>
        </div>
        <div class="tg-backcover">
            <%= image_tag book.book_img.url(:original), class: "books" %>
        </div>
        </a>
      </div>
      <a class="tg-btnaddtowishlist" href="javascript:void(0);">
        <i class="icon-heart"></i>
        <span>add to wishlist</span>
      </a>
    </figure>
    <div class="tg-postbookcontent">
      <ul class="tg-bookscategories">
        <li>
          <%=link_to book.category.name, books_path(category: book.category.name) %>
        </li>
      </ul>

      <div class="tg-booktitle">
        <h3><a href="/books/<%= book.id %>"><%= book.title %></a></h3>
      </div>
      <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
      <span class="tg-stars"><span></span></span>
    </div>
  </div>
  </div>
