<div class="tg-haslayout">
  <div class="row">
    <div id="tg-twocolumns" class="tg-twocolumns">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
        <div id="tg-content" class="tg-content">
          <div class="row">
            <div class="col-md-12">
                <h2><%= t ".admin_layout" %></h2>
            </div>
          </div>
        <!-- /. ROW  -->
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div style="text-align: center" class="panel panel-back noti-box">
                <a href="/admin/categories" title="">
                  <span>
                    <i class="fa fa-bars fa-4x"></i>
                  </span>
                  <div>
                    <p><%= t ".category" %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div style="text-align: center" class="panel panel-back noti-box">
                <a href="/admin/books" title="">
                  <span>
                    <i class="fa fa-qrcode fa-4x "></i>
                  </span>
                  <div>
                    <p><%= t ".book" %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div style="text-align: center" class="panel panel-back noti-box">
                <a href="/admin/users" title="">
                  <span>
                    <i class="fa fa-user fa-4x"></i>
                  </span>
                  <div>
                    <p><%= t ".user" %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div style="text-align: center" class="panel panel-back noti-box">
                <a href="/admin/suggests" title="">
                  <span>
                    <i class="fa fa-rocket fa-4x"></i>
                  </span>
                  <div>
                    <p><%= t ".suggest" %></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div style="text-align: center" class="panel panel-back noti-box">
                <a href="/admin/comments" title="">
                  <span>
                    <i class="fa fa-envelope fa-4x"></i>
                  </span>
                  <div>
                    <p><%= t ".comment" %></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
