<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
    <h2><%= t ".user" %></h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive">
        <div class="row"></div>
        <div>
          <br>
        </div>
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th><%= t ".id" %></th>
              <th class="name"><%= t ".user_name" %></th>
              <th><%= t ".email" %></th>
              <th class="action"><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @users %>
            <%= will_paginate %>
          </tbody>
          <div class="export">
              <i><%= t("view.users.index.download") %></i>
              <%= link_to t("view.users.index.users_xls"), admin_users_path(format: Settings.export.xls), class: "fa fa-check btn btn-success " %>
              <%= link_to t("view.users.index.users_csv"), admin_users_path(format: Settings.export.csv), class: "fa fa-check btn btn-success " %>
          </div>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>


