<div class="review_<%= review.id %>">
  <div class="info-review">
    <h4><%= review.user_name %> <i class="cr-review">review <%= time_ago_in_words(review.created_at) %> ago</i></h4>
    <div class="review-rating" data-score="<%= review.rate %>"></div>
    <div class="review-comment-content"><span><%= review.content %></span></div>
  </div>

  <div class = "review">
    <% if user_signed_in? %>
      <% if can? :destroy, review %>
        <div class="links btn-group">
          <%= link_to t("view.review.delete"), book_review_path(review.book, review), method:
          :delete, remote: true, class: "btn btn-danger" %>
        </div>
      <% end %>
    <% end %>
    <% if review.comments.any? %>
    <% review.comments.each do |comment| %>
    <%= render partial: "comments/comment", locals: {comment: comment,
      book: review.book} %>
      <% end %>
      <% end %>
    <div class="comments_<%=  review.id %>">
      <%= simple_form_for [@book, review, review.comments.build], remote: true do |f| %>
      <div class="comment">
        <div class="content">
          <%= f.input :content, class: "cmt" %>
        </div>
        <div class="btn-custom3">
          <%= f.button :submit, class: "btn-custom3" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>

