<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation"
   style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
       data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin"><%=t ".sun*" %></a>
    </div>
    <div class="khoi">
      <%=link_to t( "layouts.header.logout"), destroy_user_session_path, method: :delete, class: "btn btn-success btn-block square-btn-adjust" %>
    </div>
    <div class="khoi">
      <% if current_user.image %>
        <%= image_tag(current_user.image)%>
      <% else %>
        <%= image_tag current_user.picture.url if current_user.picture? %>
      <% end %>
      <%= current_user.name %>
    </div>
  </nav>
</div>
